Flask
flask-cors
openai
azure-storage-blob
azure-cognitiveservices-speech
python-dotenv
fpdf
matplotlib
numpy
faiss-cpu
requests
uvicorn
dotenv
fastapi
flask-sqlalchemy
sqlalchemy
psycopg2-binary
psycopg2-binary
sqlalchemy
flask-sqlalchemy